DATABASE_URL=""
NODE_ENV=""
PORT=
BCRYPT_SALT_ROUNDS=
JWT_SECRET=" " 
EXPIRES_IN=""
REFRESH_TOKEN_SECRET="YOUR SECRET"
REFRESH_TOKEN_EXPIRES_IN="30d"
RESET_PASS_TOKEN="YOUR TOKEN SECRET"
RESET_PASS_TOKEN_EXPIRES_IN="5m"
RESET_PASS_LINK="http://localhost:3001/reset-password"
EMAIL = ""
APP_PASS = "   "
STRIPE_SECRET_KEY=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""


FIREBASE_PROJECT_ID="""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""



DO_SPACE_ENDPOINT=""
DO_SPACE_ORIGIN_ENDPOINT=""
DO_SPACE_ACCESS_KEY=""
DO_SPACE_SECRET_KEY=""
DO_SPACE_BUCKET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
ENVIRONMENT_VARIABLE=""


AUTH_API_KEY=""
